@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mochiy Pop One", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --red:#E03920;
    --white:#fff;
    --dark:#1e1c2a;
    --orange: #ff945b;
}

body{
    color: var(--dark);
    background: var(--white);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
    z-index: 3;
}

.navigation .logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: var(--dark);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.2s;
}

.navigation ul li a:hover{
    color: var(--red);
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--dark);
}

h1{
    font-family: "Playfair Display", serif;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover{
    background: var(--white);
    box-shadow: 0 2px 15px var(--red);
    border: 1px solid var(--red);
    color: var(--red);

}

.home-img{
    width: 100%;
}

@media(max-width:785px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
    }

    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4{
        font-size: 15px;
    }

    .home .text-h4{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p{
        font-size: 15px;
    }

    .home-img{
        width: 125%;
    }

    .foodimg{
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    .foodimg img{
        width: 70vw;
    }

    .question{
        flex: 1;
        margin-top: 30px;
    }

    .question h2{
        font-size: 25px;
    }

    .q-ans div:nth-child(2) p{
        font-size: 11px;
    }

    .main-slide4{
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .main-slide4 .chef-feed {
        flex: 1;
    }

    .main-slide4 .chef{
        flex: 1;
        text-align: center;
        margin-bottom: 40px;
    }

    .main-slide4 .chef img{
        width: 80vw;
    }
}

.beneficios-slide{
    background: #fdf2e1;
    margin: 80px 0;
    font-size: 2.5rem;
}

#beneficios-titulo{
    color: #882b2e;
    font-size: 55px;
    margin-bottom: 15px;
    margin-right: 20px;
    text-align: center;
}

.beneficios-slide

.beneficios-imagem-animacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.beneficios-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bnf-img {
    width: 50vw;
    flex: 1;
    max-width: 500px;
}

.fale-conosco{
    padding: 5px 35px;
    background: green;
    color: var(--white);
    border-radius: 50px;
    font-size: x-large;
    transition: all 0.5s;
    align-items: center;
    margin-left: 20px;
    }

.fale-conosco:hover{
    background: var(--white);
    box-shadow: 0 2px 15px green;
    border: 2px solid green;
    color: green;
}

.main-slide2{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foodimg{
    flex: 0.5;
}

.foodimg img{
    max-width: 500px;
    width: 45vw;
}

.question{
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
}

.question h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.q-ans{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
}

.q-ans img{
    width: 45px;
}

.q-ans div:first-child{
    padding: 10px;
    border-radius: 50%;
    height: 65px;
    text-align: center;
    background-color: white;
    margin-right: 20px;
}

.q-ans div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.q-ans div:nth-child(2) p{
    margin-top: 10px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


.video-1{
    width: 433px;
    height: 278px;
    border-radius: 11px;
    border: 0px none rgb(0, 0, 0);
}

.video-2{
    width: 433px;
    height: 278px;
    border-radius: 11px;
    border: 0px none rgb(0, 0, 0);
}

.logo-bfp{
    width: 30%;
}

.main_slide4{
    margin-top: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.main_slide4 .chef-feed{
    flex: 0.5;
    margin-top: 30px;
}

.main_slide4 .chef{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_slide4 .chef-feed h2{
    font-size: 32px;
    margin-bottom: 25px;
}

.main_slide4 .chef-feed p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.main_slide4 .chef-detail{
    margin-top: 20px;
    display: flex;
    margin: 25px 0;
    align-items: center;
}

.main_slide4 .chef-detail img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid white;
}

.main_slide4 .chef-detail h6{
    font-size: 14px;
}

.main_slide4 .chef-detail p{
    font-size: 11px;
    color: red;
}

.main_slide4 .chef-vic{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 40px;
    background-color: rgb(255, 219, 185);
    border-radius: 0 100px 0 0;
    margin-top: 20px;
    width: 100%;
}

.main_slide4 .chef-vic div{
    display: flex;
    align-items: center;
    margin-right: 20px;
    height: 27px;
}

.main-slide4 .chef-vic div i,
.main_slide4 .chef-vic div h4{
    font-size: 27px;
    margin-right: 8px;
}

.main-slide4 .chef-vic div h4{
    color: red;
}

.main-slide4 .chef-vic div p{
    font-size: 11px;
    padding-top: 8px;
    line-height: 13px;
}

@media screen and (max-width: 550px) {

    .main-slide4 .chef-vic div p{
        display: none;
    }
}

.img-cliente{
    width: 30px;
}

.text-cliente{
    margin: 2px 0 0 2px;
}

.na-midia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 20px;
}

.midias{
    display: flex;
    margin-top: 10px;
    text-align: center;
}


.footer img{
    width: 20%;
}

.ingredientes{
    margin: 20px;
    border: px solid black;
    border-radius: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer{
    border-top: 1px solid rgb(252, 184, 107);
    background-color: rgb(252, 222, 195);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer-1 .logo img{
    width: 100px;
}

.footer-1 p{
    font-size: 14px;
    padding: 2px;
    color: rgb(255, 137, 2);
}

.footer-2{
    text-align: center;
}

.footer-2 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--orange);   
    text-decoration: dashed;
}

.footer-2 img{
    width: 100px;
    margin-bottom: 5px;
}

/* botao do wpp fixado*/

#whatsapp .wtsapp{
    position: fixed;
    transition: all 0.5s ease;
    background-color: #25d366;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 20px;
    right: 20px;
    border: 0;
    z-index: 9999;
    width: 46px;
    height: 42px;
    line-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* borda botao wpp */

#whatsapp .wtsapp:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    border-radius: 50%;
    -webkit-animation:pulse-border 1500ms ease-out infinite;
    animation:pulse-border 1500ms ease-out infinite;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

#whatsapp .wtsapp:focus{
    border: none;
    outline: none;
}

@keyframes pulse-border {

    0%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity:50%;}
    100%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5); opacity:50%;}
}


.loader {
    display: flex;
    align-items: center;
    justify-content: center;

    --from: 80px;
    --to: 200px;
    --size: 42px;
    --time: 7s;
    --count: 51;
    --turns: 6;
}



.circle {
    position: absolute;

    --delay: calc(var(--time) / var(--count) * -1 * var(--i));
    rotate: calc(var(--turns) * 1turn / var(--count) * var(--i));

    animation: translate var(--time) var(--delay) ease-in-out infinite;
}

@keyframes translate {
    from{ transform: translate(0, var(--from)); }
    to{ transform: translate(0, var(--to)); }
}

.circle::before{
    content: '';
    display: block;
    width: var(--size); aspect-ratio: 1/1;
    background-color: white;

    background-color: hsl(
        calc(1turn / ( var(--count) / var(--turns) ) * var(--i))
        100% 70%
    );
    border-radius: 50%;
    transform-origin: center center;
    animation: size var(--time) var(--delay) ease-in-out infinite;
}

@keyframes size {
    0%, 100% { scale: 0; }
    25%, 50% { scale: 1; }
}

.circle:nth-child(n + var(--count)) {
    display: none;
}

#transicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -200px;
    margin-bottom: -50px;
}

.text-transicao{
    color: #e9a209;
    font-size: 1.5rem;
}

#cards{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.bfp-pote{
    width: 70%;
}

.racao-pote{
    width: 70%;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    gap: 18px;
    width: 20%;
    height: 300px;
    padding: 40px;
    background-color: #fdf2e1;
    box-shadow: 0 0 12px 4px rgba(0,0,0, 0.15);
    position: relative;
    overflow: hidden;
}

.card-heart{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    width: 70px;
    height: 70px;
    background-color: #e9a209;
    right: -10px;
    top: -10px;
    border-radius: 0 37.5px 0 42px;
}

.transicao-description{
    color: #434343;
    text-align: center;
}

@media screen and (max-width: 1170px){
    #cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px){
    .card{
        width: 100%;
    }
}

#testimonials{
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonial_chef{
    width: 500px;
    height: auto;
}

#testimonials #section-title{
    font-size: 3rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
    margin-top: 50px;
    margin-bottom: 50px;
}


#testimonials .section-subtitle {
    font-size: 2rem;
    text-align: center;
}

#testimonials_content {
    width: 50%;
}

#feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fdf2e1;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p{
    display: flex;
    justify-content: space-between;
}

.feedback-content p span{
    color: #e9a209;
}

.btn-default{
    background-color: wheat;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    border: 1px solid #1e1c2a;
    transition: 2s;
    border-radius: 10px;
}

.btn-default:hover{
    transform: scale(1.2);
}

.title_button{
    color: black;
}

.tabela-title{
    text-align: center;
    margin-bottom: 40px
}

.linhas{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

.pitiquinho{
    width: 90%;
}

.toto{
    width: 90%;
}

.dogao{
    width: 90%;
}