@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mochiy Pop One", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --red:#E03920;
    --white:#fff;
    --dark:#1e1c2a;
    --orange: #ff945b;
}

body{
    color: var(--dark);
    background: var(--white);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: var(--dark);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.2s;
}

.navigation ul li a:hover{
    color: var(--red);
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--dark);
}

h1{
    font-family: "Playfair Display", serif;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover{
    background: var(--white);
    box-shadow: 0 2px 15px var(--red);
    border: 1px solid var(--red);
    color: var(--red);

}

.home-img{
    width: 100%;
}

@media(max-width:785px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
    }

    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4{
        font-size: 15px;
    }

    .home .text-h4{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p{
        font-size: 15px;
    }

    .home-img{
        width: 125%;
    }

    .foodimg{
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    .foodimg img{
        width: 70vw;
    }

    .question{
        flex: 1;
        margin-top: 30px;
    }

    .question h2{
        font-size: 25px;
    }

    .q-ans div:nth-child(2) p{
        font-size: 11px;
    }

    .main-slide4{
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .main-slide4 .chef-feed {
        flex: 1;
    }

    .main-slide4 .chef{
        flex: 1;
        text-align: center;
        margin-bottom: 40px;
    }

    .main-slide4 .chef img{
        width: 80vw;
    }
}

.beneficios-slide{
    background: #fdf2e1;
    margin: 80px 0;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.beneficios-titulo{
    color: #882b2e;
    font-size: 55px;
    margin-bottom: 15px;
    margin-right: 20px;
    text-align: center;
}

.beneficios-slide

.bnf-img {

    width: 25vw;
    padding-left: 2.5rem;
    flex: 1;
    max-width: 500px;
    margin-left: 20px;
}

.fale-conosco{
    padding: 5px 35px;
    background: green;
    color: var(--white);
    border-radius: 50px;
    font-size: x-large;
    transition: all 0.5s;
    align-items: center;
    margin-left: 20px;
    }

.fale-conosco:hover{
    background: var(--white);
    box-shadow: 0 2px 15px green;
    border: 2px solid green;
    color: green;
}

.main-slide2{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foodimg{
    flex: 0.5;
}

.foodimg img{
    max-width: 500px;
    width: 45vw;
}

.question{
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
}

.question h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.q-ans{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
}

.q-ans img{
    width: 45px;
}

.q-ans div:first-child{
    padding: 10px;
    border-radius: 50%;
    height: 65px;
    text-align: center;
    background-color: white;
    margin-right: 20px;
}

.q-ans div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.q-ans div:nth-child(2) p{
    margin-top: 10px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.video-1{
    width: 433px;
    height: 278px;
    border-radius: 11px;
    border: 0px none rgb(0, 0, 0);
}

.video-2{
    width: 433px;
    height: 278px;
    border-radius: 11px;
    border: 0px none rgb(0, 0, 0);
}

.logo-bfp{
    width: 30%;
}

.main_slide4{
    margin-top: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 200px;
}

.main_slide4 .chef-feed{
    flex: 0.5;
    margin-top: 30px;
}

.main_slide4 .chef{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_slide4 .chef-feed h2{
    font-size: 32px;
    margin-bottom: 25px;
}

.main_slide4 .chef-feed p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.main_slide4 .chef-detail{
    margin-top: 20px;
    display: flex;
    margin: 25px 0;
    align-items: center;
}

.main_slide4 .chef-detail img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid white;
}

.main_slide4 .chef-detail h6{
    font-size: 14px;
}

.main_slide4 .chef-detail p{
    font-size: 11px;
    color: red;
}

.main_slide4 .chef-vic{
    display: flex;
    align-items: center;
    padding: 25px 20px;
    background-color: rgb(255, 219, 185);
    border-radius: 0 100px 0 0;
    margin-top: 40px;
    width: 100%;
}

.main_slide4 .chef-vic div{
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex: 0.5;
    height: 27px;
    overflow: hidden;
}

.main-slide4 .chef-vic div i,
.main_slide4 .chef-vic div h4{
    font-size: 27px;
    margin-right: 8px;
}

.main-slide4 .chef-vic div h4{
    color: red;
}

.main-slide4 .chef-vic div p{
    font-size: 11px;
    padding-top: 8px;
    line-height: 13px;
}

@media screen and (max-width: 550px) {

    .main-slide4 .chef-vic div p{
        display: none;
    }
}

/*

.DDD{
    background-color: #333333;
}

.scene, .scene div, .scene div::before, .scene div::after{
    position: absolute;
    content: '';
    transform-style: preserve-3d;
}

.scene{
    top: 50%;
    left: 50%;
    transform: rotateX(65deg) rotatez(45deg);
}

.cube{
    top: 50%; left: 50%;
    width: var(--x); height: var(--y);
    background-color: color-mix(in display-p3, var(--color) 50%, #333333);
    translate: -50% -50%;
}

.cube::before{
    width: var(--x); height: var(--z);
    background-color: color-mix(in display-p3, var(--color) 70%,
   #333333);
    transform-origin: top center;
    rotate: x 90deg;
}

.cube::after{
    width: var(--x); height: var(--z);
    background-color: color-mix(in display-p3, var(--color) 90%, #333333);
    transform-origin: top center;
    rotate: x 90deg;
    translate: 0 var(--y);
}

.cube > div {
    width: var(--x); height: var(--y);
    background-color: var(--color);
    translate: 0 0 var(--z);
}

.cube > div::before {
    width: var(--y); height: var(--y);
    background-color: color-mix(in display-p3, var(--color) 80%, #333333);
    transform-origin: left center;
    rotate: y 90deg;
}

.cube > div::after {
    width: var(--z); height: var(--y);
    background-color: color-mix(in display-p3, var(--color) 80%,
    #333333);
    transform-origin: left center;
    rotate: y 90deg;
    translate: var(--x);
}

.ckicken_head{
    --x: 6em; --y: 7em; --z: 8em;
    --color: var(--white);
}

.ckicken_beak{
    --x: 2em; --y: 2em; --z: 2em;
    --color: var(--orange);
    translate: 2em 7em 6em;
}

.ckicken_wattle{
    --x: 2em; --y: 1.5em; --z: 2em;
    --color: var(--red);
    translate: 2em 7em 4em;
}

.ckicken_comb{
    --x: 2em; --y: 5em; --z: 2em;
    --color: var(--red);
    translate: -0.5em -2em 8em;
}

.ckicken_body{
    --x: 6em; --y: 10em; --z: 5em;
    --color: var(--white);
    translate: 0em -3em -5em;
}

.ckicken_tail{
    --x: 4em; --y: 2em; --z: 5em;
    --color: var(--white);
    translate: 1em -5em -5em;
}

.ckicken_wing-right{
    --x: 2em; --y: 6em; --z: 3em;
    --color: var(--white);
    translate: 6em 0em -4em;
}

.ckicken_wing-left{
    --x: 2em; --y: 6em; --z: 3em;
    --color: var(--white);
    translate: -2em 0em -4em;
}

.ckicken_knee-right{
    --x: 1em; --y: 1em; --z: 3em;
    --color: var(--orange);
    translate: 5em 1em -8em;
}

.ckicken_knee-left{
    --x: 1em; --y: 1em; --z: 3em;
    --color: var(--orange);
    translate: 0em 1em -8em;
}

.ckicken_foot-right{
    --x: 3em; --y: 3em; --z: 1em;
    --color: var(--orange);
    translate: 4em 0em -9em;
}

.ckicken_foot-left{
    --x: 3em; --y: 3em; --z: 1em;
    --color: var(--orange);
    translate: -1em 0em -9em;
}


.ckicken_finger-1{
    --x: 1em; --y: 2em; --z: 1em;
    --color: var(--orange);
    translate: -1em 3em -9em;
}

.ckicken_finger-2{
    --x: 1em; --y: 2em; --z: 1em;
    --color: var(--orange);
    translate: 1em 0em -9em;
}


.ckicken_finger-3{
    --x: 1em; --y: 2em; --z: 1em;
    --color: var(--orange);
    translate: 4em 0em -9em;
}

.ckicken_finger-4{
    --x: 1em; --y: 2em; --z: 1em;
    --color: var(--orange);
    translate: 6em 3em -9em;
}

*/

.midias{
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    flex: 0.5;
    flex-direction: column;
    margin-bottom: 5px;
}

.midias h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.div_compre_aqui {
    display: flex;
    justify-content: center;
}

.compre_aqui{
    display: flex;
    padding: 15px 45px;
    background: blue;
    color: var(--white);
    border-radius: 15px;
    font-weight: 100;
    transition: all 0.5s;
    align-items: center;
}

.compre_aqui:hover{

}

.footer img{
    width: 20%;
}

.ingredientes{
    margin: 20px;
    border: px solid black;
    border-radius: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}